@model HeroesCup.Web.Models.AboutPage

@{
    ViewBag.Title = Model.Title;
}

<div class="main mt-md-5 pt-md-5">
    <div class="container mt-md-5 pt-md-5">
        <div class="row justify-content-start">
            <div class="col-md-6 col-sm-12">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.DisplayFor(m => m.Blocks)
            </div>
        </div>
        <hr />
        <partial name="~/Views/Shared/Partial/_Challenge.cshtml" for="@Model.Title" />
    </div>
</div>
