@model HeroesCup.Web.Models.LandingPage
@inject IApi Api
@{
    ViewBag.Title = Model.Title;
}

<div class="main" id="landing-main">
    <div class="container">
        <div class="row landing-image-hero justify-content-center pt-5 section-padding">
            <div class="row justify-content-center">
                <img src="~/images/Logo.svg" />
            </div>
        </div>

        <div class="col-sm-12 page-body text-center section-padding section-margin">
            <img src="~/images/landing/Slide 3.svg" width="496" />
            <div class="mb-3 mt-3">
                <h1 class="heading1 d-none d-md-block d-sm-none d-xs-none">Купата на героите е доброволческото състезание на училищата в България!</h1>
                <h3 class="heading3 d-sm-block d-md-none">Купата на героите е доброволческото състезание на училищата в България!</h3>
            </div>
            <div class="body2">
                <p>TimeHeroes развива и подкрепя мрежа от неформални ученически доброволчески клубове в цялата страна от пролетта на 2015 година. Учениците доброволци се включват в инициативи от платформата <a href="https://timeheroes.org/bg/">Timeheroes.org</a> или организират свои собствени мисии, в зависимост от свободното си време и интересите си.</p>
                <p>Клубовете са най-различни – по броя и възрастта на членовете (между 5 и 60 доброволци, от I до XII клас), по местоположение (столица, областни градове, села), по основен фокус на инициативите на клуба (свързани с права на човека, деца и връстници, с природа и животни, спорт и култура, възрастни хора и хора в неравностойно положение и т.н.).</p>
            </div>
        </div>
        <hr />
        <div class="col-sm-12 page-body text-left section-padding">
            <div class="mb-3 mt-3">
                <h3 class="heading3">Какво правим ние за тях</h3>
            </div>
            <div class="body2">
                <p>
                    TimeHeroes подкрепя мрежата от доброволчески клубове с членове над 800 ученици чрез менторство на координаторите им, като ги насърчава с идеи за подходящи инициативи, провежда месечни предизвикателства със специални награди, а най-активните доброволци от клубовете получават сертификати в края на всяка учебна година.
                </p>
                <p>
                    Всеки клуб получава и специален пакет с подкрепящи материали, включително наръчник Как да си направим доброволчески клуб и близо 30 разписани идеи за собствени инициативи.
                </p>
                <p>
                    На разположение на учениците са и различни ресурси, уроци по доброволчество и полезни материали, които могат да бъдат използвани за обучение и вдъхновени.
                </p>
            </div>
        </div>
        <hr />
        <div class="row col-sm-12 page-body text-left section-padding">
            <div class="col-12 mb-3 mt-3">
                <h3 class="heading3">Как да се включа</h3>
            </div>
            <div class="col-md-6 col-sm-12 order-md-1 order-2 body2 mb-3 mt-3">
                <div>
                    <p>
                        <strong>Пиши на hello [при] timeheroes [точка] org.</strong>
                    </p>
                    <p>
                        Първите стъпки за създаване на доброволчески клуб и присъединяване към мрежата са:
                    </p>
                    <p><strong>1. определяне на координатор(и) -</strong> учител, ученик, учител и ученик</p>
                    <p> <strong>2. подписване на споразумение</strong></p>
                    <p>
                        <strong>3. получаване на кутията с материали, която съдържа:</strong>
                    </p>
                    <p>
                        - наръчник как да създадем и организираме доброволческия си клуб
                    </p>
                    <p>
                        - календар с близо 30 идеи за доброволчески инициативи през годината
                    </p>
                    <p>
                        - значки и стикери за членовете на клуба.
                    <p>
                </div>

            </div>
            <div class="col-md-6 col-sm-12 order-md-2 order-1 mb-3 mt-3">
                <img src="~/images/landing/Join.svg" width="496" />
            </div>
        </div>
        <hr />
        <div class="col-sm-12 body2 text-left section-padding">
            <p>
                Предизвикваме всички участници в Купата на героите: организирайте поне по една инициатива всеки месец от февруари до юни 2020 и спечелете награда за клуба и училището ви!
            </p>

            <p>Ние ще ви предизвикваме с идеи за мисии на различни теми, свързани с правата на човека, възрастни хора, деца, образование, животни, а участващите клубове ще получат страхотни награди от нас.</p>
            <p>Как да се включите? hello [при] timeheroes [точка] org.</p>
            <p>
                Пълният уебсайт ще е готов скоро. Виж повече <a href="https://timeheroes.org/bg/">тук.</a>
            </p>
        </div>

        @*<div class="col-sm-12 page-body text-center section-padding section-margin">
                @Html.DisplayFor(m => m.Blocks)
            </div>*@
    </div>
</div>
