@model HeroesCup.Web.Models.LandingPage
@inject IApi Api
@{
    ViewBag.Title = Model.Title;
}

<div class="main">
    <div class="container">
        <div class="row justify-content-center"><img src="~/images/Logo.svg" /></div>
        
    </div>
</div>
