
[submodule "HeroesCup.Web/libs/piranha.core"]
	path = HeroesCup.Web/libs/piranha.core
	url = https://github.com/PiranhaCMS/piranha.core
[submodule "HeroesCup.Web/libs/piranha.core.mysql"]
	path = HeroesCup.Web/libs/piranha.core.mysql
	url = https://github.com/PiranhaCMS/piranha.core.mysql