@page
@model String
@{
}

<div class="row section-margin section-padding">
    <hr class="challenge-hr" />
    <div class="col-md-6 col-sm-12">
        <img src="~/images/image 39.png" width="426" />
    </div>
    <div class="col-md-6 col-sm-12 align-self-center">
        <div class="col-md-12 col-sm-12 mb-6">
            <h2>Запиши се сега</h2>
            <p>Направете геройски клуб с твоите съученици, включете се в различни мисии и трупайте точки.</p>
            <p>Събралите най-много точки ще спечелят купата на героите в края на учебната година. </p>
        </div>
        <div class="col-md-12 col-sm-12 mt-6">
            <a href="/about" class="btn btn-heroes">Участвай</a>
        </div>
    </div>
</div>
