﻿html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAF8F3;
}

.header-bg {
    background-size: cover;
    background-position: 50% 50%;
}

header {
    padding: 1rem 0;
}

    header h1 + .lead {
        margin: 2rem 0;
    }

    header.site-header.site-header-dark {
        position: initial;
    }

        header.site-header.site-header-dark .nav-site a {
            color: #000;
        }

            header.site-header.site-header-dark .nav-site a:hover {
                color: #000;
            }

        header.site-header.site-header-dark .nav-site .active a {
            color: #000;
        }

    header.page-header {
        background-size: cover;
        background-position: 50% 50%;
    }

.main {
    margin: 3rem 0;
}

    .main img {
        max-width: 100%;
    }

.heading1 {
    /* Heading 1 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 48px;
    /* identical to box height, or 114% */
    /* Dark */
    color: #1C1E21;
}

.heading2 {
    /* Heading 2 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */
    /* Dark */
    color: #1C1E21;
}

.heading3 {
    /* Heading 3 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height, or 114% */
    /* Dark */
    color: #1C1E21;
}

.heading4 {
    /* Heading 4 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    /* Dark */
    color: #1C1E21;
}

.heading5 {
    /* Heading 5 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 109% */
    /* Dark */
    color: #1C1E21;
}

.body1 {
    /* Body 1 Regular */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    /* Dark */
    color: #1C1E21;
}

.body1-bold {
    /* Body 1 Bold */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    /* Dark */
    color: #1C1E21;
}

.body2 {
    /* Body 2 Regular */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* Dark */
    color: #1C1E21;
}

.body2-bold {
    /* Body 2 Bold */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* Dark */
    color: #1C1E21;
}

.body3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Dark */
    color: #1C1E21;
}

.body3-bold {
    /* Body 3 Bold */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Dark */
    color: #1C1E21;
}

/*.teasers {
    margin-bottom: 1rem;
}

    .teasers .teaser {
        margin-bottom: 2rem;
    }*/

.archive-item {
    padding-top: 3rem;
}

    .archive-item:first-child {
        padding-top: 0;
    }

    .archive-item a {
        font-weight: 500;
    }

.tag {
    white-space: nowrap;
}

.post-header img {
    margin-top: 2rem;
}

.post-header .tag {
    margin-right: 1rem;
}

.post-body {
    margin-top: 3rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    color: #fff;
}

    header.site-header {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    header.page-header {
        padding-top: 6rem;
    }

        header.page-header img {
            border-radius: 80px;
            float: right;
        }

.nav-site li a {
    padding: 0;
    margin: 1em 1em;
    font-size: .9rem;
    transition: all ease-in-out .2s;
    text-shadow: 0 0 5px #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: right;
    /* Dark */
    color: #1C1E21;
    text-transform: capitalize;
}

    .nav-site li a:hover > span {
        padding: .8em 0;
        color: #FE5E17;
        transition: all ease-in-out .2s;
    }

.nav-site li.active a span {
    color: #FE5E17;
}

/*.nav-site li.active a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
/*text-align: right;
    color: #FE5E17;
    text-transform: capitalize;
}*/

.header-bg.header-bg-empty a:hover span {
    border-color: #000;
}

.teasers .teaser .teaser-body {
    background: #f2f2f2;
    height: 100%;
    padding: 2rem;
}

    .teasers .teaser .teaser-body .teaser-subtitle {
        font-size: 0.75rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    .teasers .teaser .teaser-body h3 {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    .teasers .teaser .teaser-body p {
        font-size: 0.9rem;
    }

.archive-item h2 a {
    color: #000;
    transition: color ease-in-out .15s;
}

    .archive-item h2 a:hover {
        transition: color ease-in-out .15s;
    }

.post-header img {
    border: solid .3rem #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

/* Footer */

#landing-main {
    margin-bottom: 16px;
}
.custom-footer {
    margin: 0;
    padding: 0;
    clear: both;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    font-size: 14px;
    font-family: Montserrat;
    color: white;
}

    .custom-footer > div {
        color: white;
    }

        .custom-footer > div a {
            text-decoration: underline;
            color: white;
        }

.footer-bottom {
    width: 100%;
}

.footer-line {
    width: 100%;
    border-top: 2px solid grey;
    bottom: 0;
}



.icon {
    display: inline-block;
    border-radius: 50%;
    padding: 5%;
    width: 32px;
    height: 32px;
    background-size: 16px 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #37393C;
}

    .icon:hover {
        background-color: #ffff;
    }

.icon-facebook {
    background-image: url('../images/facebook-svgrepo-com_white.svg');
}

    .icon-facebook:hover,
    .icon-facebook:focus {
        background-image: url('../images/facebook-svgrepo-com_black.svg');
    }

.icon-twitter {
    background-image: url('../images/twitter-svgrepo-com_white.svg');
}

    .icon-twitter:hover,
    .icon-twitter:focus {
        background-image: url('../images/twitter-svgrepo-com_black.svg');
    }

.icon-youtube {
    background-image: url('../images/youtube-svgrepo-com_white.svg');
}

    .icon-youtube:hover,
    .icon-youtube:focus {
        background-image: url('../images/youtube-svgrepo-com_black.svg');
    }


.icon-instagram {
    background-image: url('../images/instagram-logo-svgrepo-com_white.svg');
}

    .icon-instagram:hover,
    .icon-instagram:focus {
        background-image: url('../images/instagram-logo-svgrepo-com_black.svg');
    }

/* Button */
.btn-heroes {
    padding: 12px 24px;
    background: #FE5E17;
    color: white;
    vertical-align: middle;
    border-radius: 32px;
    text-decoration: none;
    text-underline-position: unset;
    text-decoration-style: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

    .btn-heroes:hover {
        color: white;
        text-decoration: none;
        text-underline-position: unset;
        text-decoration-style: none;
        background: linear-gradient(0deg, rgba(28, 30, 33, 0.08), rgba(28, 30, 33, 0.08)), #FE5E17;
    }


/* Missions List */

.mission-body > a {
    color: #1C1E21;
    text-decoration: none;
    text-decoration-style: none;
}

.mission-body:hover > a {
    color: #1C1E21;
    text-decoration: none;
    text-decoration-style: none;
}

.mission-title {
    display: inline-block;
    margin-top: 24px;
}

    .mission-title:hover {
        color: #FE5E17;
    }

.missions-block {
    padding-bottom: 48px;
}

.container {
    margin-top: 48px;
}

/* Modal */

.modal-content {
    width: 120%;
    background-color: #faf8f3;
    border-radius: 0;
}

    .modal-content > .modal-header {
        border-bottom: none;
    }

    .modal-content > .modal-footer {
        border-top: none;
    }

.modal-body {
    /* Body 2 Regular */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    /* Dark */
    color: #1C1E21;
}

.modal-close {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url('../images/cross.svg') center no-repeat;
    background-color: white;
    align-content: center;
}

/* Club Modal */

.club-modal{
    align-content: center;
}

    .club-modal .modal-content {
        max-width: 1024px;
    }

.modal-lg {
    min-width: 800px;
    max-width: 1024px;
    min-height: 484px;
    max-height: 484px;
}

.club-image img {
    margin: 0;
    padding: 0;
    width: 384px;
    height: 100%;
}

/* Nav icon */
.navbar-toggler-icon {
    color: #1C1E21;
}


/* Challenge */
.challenge-hr {
    margin-bottom: 48px;
}

/* Carousel */
.start-carousel-capture {
    text-align: start;
    color: black;
}

.carousel-indicators {
    margin: 0;
    padding: 0;
    align-content: start;
    text-align: start;
}

    .carousel-indicators li {
        width: 8px;
        height: 8px;
        border-radius: 100%;
    }

    .carousel-indicators li {
        display: block;
        border: 1px solid black;
        background-color: white;
    }

    .carousel-indicators .active {
        background-color: black;
    }

/* Common */

.separator {
    width: 100%;
    border-top: 1px solid #EEECE6;
    bottom: 0;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

    .vertical-center > div {
        margin-top: auto;
        margin-bottom: auto;
    }

.section-margin {
    margin-top: 38px;
    margin-bottom: 38px;
}

.margin-bottom {
    margin-bottom: 38px;
}

.section-padding {
    padding-top: 38px;
    padding-bottom: 38px;
}

.no-padding-left {
    padding-left: 0;
}

.sticky-top {
    position: fixed;
}

/* Leaderboard */
.leaderboard-clubs {
    padding-right: 8px;
    min-height: 90px;
    max-height: 600px;
    overflow-y: auto;
}

a.leaderboard-club {
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    /* identical to box height, or 133% */
    /* Dark */
    color: #1C1E21;
    text-decoration: none;
    text-underline-position: unset;
    border-bottom: 1px solid #eeece6;
}

.leaderboard-club:hover {
    background: #FFE89E;
    border-bottom: none;
}

    .leaderboard-club:hover [data-letters]:before {
        background: #FE5E17;
        color: #FFFFFF;
    }

.points-heroes-separator {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #EEECE6;
}

[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    width: 64px;
    height: 64px;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    background: #EBE7FD;
    vertical-align: middle;
    margin-right: 3rem;
    color: #370AEB;
    font-weight: bold;
}

.initials > [data-letters]:before {
    vertical-align: middle;
    background: #FE5E17;
    color: #FFFFFF;
}

.club {
    height: 242px;
    overflow-y: auto;
}

.tabpanel, .tabbable {
    background-color: #FAF8F3;
}

a .tab-title {
    text-decoration: none;
}

.tab-title {
    display: inline-block;
    margin-top: 24px;
    line-height: 24px;
    color: #1C1E21;
}

    .tab-title:hover {
        text-decoration: none;
        color: #1C1E21;
    }

.club-modal .nav-link {
    border: none;
    background: #FAF8F3;
}

    .club-modal .nav-link:hover {
        border: none;
        background: #FAF8F3;
    }

    .club-modal .nav-link.active {
        border: none;
        color: #FE5E17;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        border-bottom: 2px solid #FE5E17;
        background: #FAF8F3;
    }


.no-border {
    border: none;
}


/* Select */

.custom-select select {
    display: none; /*hide original SELECT element: */
}


.custom-select {
    border: none;
    outline: none;
    box-shadow: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #370AEB;
    background: url('../images/dropdown-rectangle.svg') no-repeat right;
    background-position: 100% 45%;
    border: none !important;
    box-shadow: none !important;
}

    .custom-select::selection {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .custom-select:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    .custom-select:hover {
        border: none;
        outline: none;
        box-shadow: none;
        background: url('../images/dropdown-rectangle.svg') no-repeat right;
        background-position: 100% 45%;
    }

    .custom-select:active {
        border: none;
        box-shadow: none;
        background: url('../images/dropdown-rectangle.svg') no-repeat right;
        background-position: 100% 45%;
    }

option {
    padding: 2%;
    margin: 2%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    background: rgba(244, 244, 244, 0.8);
    backdrop-filter: blur(48px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 6px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
    background-origin: unset;
}

    option:hover {
        padding: 2%;
        margin: 2%;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        background: #3585F5;
        border-radius: 6px;
        /* identical to box height */
        color: white;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    option:active {
        padding: 2%;
        margin: 2%;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        background: #3585F5;
        border-radius: 6px;
        /* identical to box height */
        color: white;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }


.school-years-button {
    background-color: #EBE7FD;
    border-radius: 32px;
}

    .school-years-button:hover {
        background: linear-gradient(0deg, rgba(55, 10, 235, 0.08), rgba(55, 10, 235, 0.08)), #EBE7FD;
        border-radius: 32px;
    }

    .school-years-button:active {
        background: linear-gradient(0deg, rgba(55, 10, 235, 0.16), rgba(55, 10, 235, 0.16)), #EBE7FD;
        border-radius: 32px;
    }

/* Items List */

.item-body > a {
    color: #1C1E21;
    text-decoration: none;
    text-decoration-style: none;
}

.item-body:hover > a {
    color: #1C1E21;
    text-decoration: none;
    text-decoration-style: none;
}

.item-title {
    display: inline-block;
    margin-top: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.items-block {
    padding-top: 48px;
    padding-bottom: 48px;
}

.text-regular {
    /* Body 2 Regular */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* Dark */
    color: #1C1E21;
}

/* Resources */

a:hover .resource-title {
    color: #FE5E17;
}

.resource-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: cover;
}

.resource-icon-pdf {
    background-image: url('../images/pdf.svg');
}

a:hover .resource-icon-pdf {
    background-image: url('../images/pdf_hovered.svg');
}

.resource-icon-video {
    background-image: url('../images/video.svg');
}

a:hover .resource-icon-video {
    background-image: url('../images/video_hovered.svg');
}

.resource-icon-article {
    background-image: url('../images/article.svg');
}

a:hover .resource-icon-article {
    background-image: url('../images/article_hovered.svg');
}

.btn-share {
    /*width: 128px;
    height: 48px;*/
    padding: 12px 26px 12px 26px;
    /* Blue Light */
    background: #EBE7FD;
    border-radius: 32px;
    /* Inside Auto Layout */
    align-self: center;
    margin: 16px 0px;
    /* Body 2 Bold */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* Blue */
    color: #370AEB;
    align-self: center;
    margin: 8px 0px;
}

/* Scrollbar */

.club::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #FAF8F3;
}

.club::-webkit-scrollbar {
    padding-left: 2%;
    width: 8px;
    background-color: #FAF8F3;
}

.club::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #c5c4c1;
    opacity: 24;
}

.leaderboard-clubs::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #FAF8F3;
}

.leaderboard-clubs::-webkit-scrollbar {
    margin-left: 2%;
    width: 8px;
    background-color: #FAF8F3;
}

.leaderboard-clubs::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #c5c4c1;
    opacity: 24;
}

#landing-main {
    margin-top: 0;
    background: url('../images/background/hero_landing_left.svg') left top no-repeat, url('../images/background/hero_landing_right.svg') right top no-repeat;
}

    #landing-main > .container {
        margin-top: 0;
    }

.home-background {
    top: 0;
    margin-top: 0;
    background: url('../images/background/hero_home_top_center.svg') center top no-repeat, url('../images/background/hero_home_top_right.svg') right top no-repeat;
    background-color: #FAF8F3;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

@media screen and (max-width: 1060px) {
    body {
        font-size: 1rem;
    }

    #landing-main {
        margin-top: 0;
        background: url('../images/background/hero_landing_left.svg') left top no-repeat, url('../images/background/hero_landing_right.svg') right top no-repeat;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.8rem;
    }

    #landing-main {
        margin-top: 0;
        background: url('../images/background/hero_landing_left_small.svg') left top no-repeat, url('../images/background/hero_landing_right_small.svg') right top no-repeat;
    }
}
