@model HeroesCup.Web.Models.Resources.ResourcesArchive

@{
    ViewBag.Title = Model.Title;
    ViewBag.TypeId = Model.TypeId;
}

<div class="main mt-md-4 pt-md-4" id="resources-main">
    <div class="container mt-md-4 pt-md-4">
        <div class="row pt-md-4 pb-4 pb-md-0">
            <div class="col-md-6 col-sm-12 vertical-center text-center text-md-left order-2 order-md-1 pt-4">
                <h2 class="heading2 d-none d-md-block d-sm-none d-xs-none">От къде да започна?</h2>
                <h3 class="heading3 d-sm-block d-md-none">От къде да започна?</h3>
                <p class="body2">Тук може да намериш всички необходими ресурси.</p>
            </div>
            <div class="col-md-6 col-sm-12 order-md-1 order-md-2">
                <img src="~/images/Resourses.svg" />
            </div>
        </div>
        <hr />

        @* Resource Posts *@
        @if (Model.Archive.Posts.Count > 0)
        {
            <partial name="~/Views/Resources/_ResourcesList.cshtml" for="@Model.Archive.Posts" />
        }

        <hr />
        <partial name="~/Views/Shared/Partial/_Challenge.cshtml" for="@Model.Title" />
    </div>
</div>
