@model HeroesCup.Web.Models.Resources.ResourcePost
@{
    ViewBag.Title = Model.Title;

    var archive = await WebApp.Api.Pages.GetByIdAsync(Model.BlogId);
    var site = await WebApp.Api.Sites.GetDefaultAsync();
    var siteCulture = site.Culture != null ? site.Culture : "bg-BG";
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo(siteCulture);
}

<div class="main">
    <div class="container">
        <div class="row section-margin">
            <div class="row col-12 justify-content-center">
                <div class="col-12 section-margin">
                    <h2 class="heading2">@Model.Title</h2>
                    <p class="body2">@Model.Subtitle.Value</p>
                </div>
            </div>
            <div class="col-9 no-padding-left">
                <div class="row justify-content-center">
                    <div class="post-body body2">
                        @Html.DisplayFor(m => m.Blocks)
                    </div>
                </div>
            </div>
            <div class="col-3 justify-content-start">
                <div class="row sticky-top">
                    <span class="text-regular">Сподели тази статия:</span>

                    <div class="col-md-6 col-sm-12">
                        <a class="btn btn-share" href="/">
                            <span class="m-1">Share</span>
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <a class="btn btn-share" href="/">
                            <span class="m-1">Tweet</span>
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <hr />
        @* Other Resource Posts *@
        <div class="row section-margin">
            @if (Model.OtherResources.Count() > 0)
            {
                <div class=" col-12 row">
                    <h2>Още ресурси</h2>
                </div>
                <partial name="~/Views/Shared/Partial/_ResourcesList.cshtml" for="@Model.OtherResources" />
            }

        </div>

    </div>
</div>
