@model HeroesCup.Web.Models.Resources.ResourcesArchive

@{
    ViewBag.Title = Model.Title;
    ViewBag.TypeId = Model.TypeId;
}

<div class="main mt-md-4 pt-md-4" id="resources-main">
    <div class="container mt-md-4 pt-md-4">
        <div class="row pt-md-4">
            <div class="col-md-6 col-sm-12 vertical-center">
                <h2 class="heading2">От къде да започна?</h2>
                <p class="body2">Тук може да намериш всички необходими ресурси.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="~/images/Resourses.svg" />
            </div>
        </div>
        <hr />

        @* Resource Posts *@
        @if (Model.Archive.Posts.Count > 0)
        {
            <partial name="~/Views/Shared/Partial/_ResourcesList.cshtml" for="@Model.Archive.Posts" />
        }

        <hr />
        <partial name="~/Views/Shared/Partial/_Challenge.cshtml" for="@Model.Title" />
    </div>
</div>
