@page
@model String
@{
    var title = ViewBag.Title == "Home" ? "Искаш да спечелиш купата?" : "Запиши се сега!";
    var anchorTag = "<a href=\"/about\" class=\"btn btn-heroes\">Разбери повече</a>";
    var buttonTag = "<button  type=\"button\" data-toggle=\"modal\" data-target=\"#participateModal\" class=\"btn btn-heroes\">Участвай</a>";
    var button = ViewBag.Title == "About" ? buttonTag : anchorTag;
}

<div class="row pt-5">
    <hr class="challenge-hr" />
    <div class="col-md-6 col-sm-12">
        <img src="~/images/Join.svg" width="496" />
    </div>
    <div class="col-md-6 col-sm-12 align-self-center">
        <div class="col-md-12 col-sm-12 mb-6">
            <h2 class="heading2">@title</h2>
            <p class="body2">Направете геройски клуб заедно с твоите съученици, включете се в различни мисии и трупайте точки. Събралите най-много точки ще спечелят Купата на героите в края на учебната 2019/2020 година.</p>
        </div>
        <div class="col-md-12 col-sm-12 mt-6">
            @Html.Raw(button)
        </div>
    </div>
</div>
