<footer class="border-top text-muted custom-footer">
    <div class="container ">
        @{
            var currentSite = await WebApp.Site.GetContentAsync<HeroesCupSite>();
        }
        @if (currentSite != null)
        {
            <div class="row col-12 pb-5 body3 text-white">
                <div class="col-md-5 col-sm-12">
                    @*@Html.Raw(currentSite.FooterContents.UpperContentLeft)*@
                    <h2 class="heading2 text-white d-none d-md-block d-sm-none d-xs-none">С подкрепата на</h2>
                    <h3 class="heading3 text-white d-sm-block d-md-none">С подкрепата на</h3>
                </div>
                <div class="col-md-7 col-sm-12 mt-3 mt-md-0">
                    @Html.Raw(currentSite.FooterContents.UpperContentRight)
                </div>
            </div>
            @if (!string.IsNullOrWhiteSpace(currentSite.FooterContents.MiddleContent) && string.IsNullOrEmpty(currentSite.FooterContents.MiddleContent))
            {
                <div class="row footer-line"></div>
                <div class="row mt-1">
                    @Html.Raw(currentSite.FooterContents.MiddleContent)
                </div>
            }

            <div class="footer-line"></div>
            <div class="footer-bottom row pt-4 pb-4 body2 text-white">
                <div class="col-md-8 col-sm-12 mt-2 d-none d-md-block pt-1 pb-1">Проект на <a href="https://super.timeheroes.org">Timeheroes.org</a> | Проектът е реализиран от <a href="https://saorsa.bg/">Саорса ООД </a> </div>
                <div class="col-sm-12 d-sm-block d-md-none pt-1 pb-1">Проект на <a href="https://super.timeheroes.org">Timeheroes.org</a></div>
                <div class="col-sm-12 d-sm-block d-md-none pt-1 pb-1">Проектът е реализиран от <a href="https://saorsa.bg/">Саорса ООД </a> </div>
                <div class="row col-md-4 col-sm-12 pt-2 pb-2">
                    <div class="col-2 offset-md-4">
                        <a href="https://www.facebook.com/TimeHeroes/">
                            <span class="icon icon-facebook"></span>
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="footer_social_icon" href="https://twitter.com/timeheroesorg?lang=en">
                            <span class="icon icon-twitter"></span>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="https://www.youtube.com/channel/UC7l1t9MKG2uwcU1TXP7rhZQ">
                            <span class="icon icon-youtube"></span>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="https://www.instagram.com/time.heroes/?hl=en">
                            <span class="icon icon-instagram"></span>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</footer>