@model IEnumerable<HeroesCup.Web.Models.Resources.ResourcePost>
@{
    var resources = Model;
}

<div class="row col-12 items-block">
    @foreach (var post in resources)
    {
        <div class="col-sm-6 col-md-4">
            <div class="item-body">
                <a href="@post.Permalink" target="_blank">
                    <div class="row justify-content-center">
                        @if (post.Type.Value == HeroesCup.Web.Models.Resources.ResourcePostType.PDF)
                        {
                            <span class="resource-icon resource-icon-pdf" />
                        }

                        @if (post.Type.Value == HeroesCup.Web.Models.Resources.ResourcePostType.VIDEO)
                        {
                            <span class="resource-icon resource-icon-video" />
                        }

                        @if (post.Type.Value == HeroesCup.Web.Models.Resources.ResourcePostType.ARTICLE)
                        {
                            <span class="resource-icon resource-icon-article" />
                        }
                    </div>
                    <div class="row justify-content-center text-center">
                        <h4 class="item-title resource-title">@post.Title</h4>
                        <p>@post.Hero.IngressTitle.Value</p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

