@model IEnumerable<HeroesCup.Web.Models.MissionViewModel>
@{
    var missions = Model.ToList();
}

@if (missions.Count > 0)
{
    <div class="row">
        @foreach (var mission in missions)
        {
            <div class="col-sm-6 col-md-4 mt-4 pt-4">
                <div class="mission-body">
                    <a href="/mission/@mission.Id" target="_blank">
                        <img class="img-fluid" src="@Url.Content(mission.ImageSrc)" width="320" />
                        <p class="mission-title body1-bold">@mission.Title</p>
                        <p class="body2">от @mission.Club.Name</p>
                    </a>
                </div>
            </div>
        }
    </div>
}

