@model IEnumerable<HeroesCup.Web.Models.MissionViewModel>
@{
    var missions = Model.ToList();    
}

@if (missions.Count > 0)
{
    <div class="row">
        @foreach (var mission in missions)
        {
            var today = DateTime.Now.ToLocalTime().Date;
            var expiredMission = false;
            if (today > mission.EndDate.Date)
            {
                expiredMission = true;
            }

            <div class="col-sm-6 col-md-4 mt-md-4 pt-md-4 pt-3 mt-3">
                <div class="mission-body">
                    <a href="/mission/@mission.Id" target="_blank">
                        @if (expiredMission)
                        {
                        <div class="img-container text-left">
                            <img class="img-fluid expired-img mission-img-list" src="@Url.Content(mission.ImageSrc)"  />
                            <div class="top-left body3-bold">ПРИКЛЮЧИЛА</div>
                        </div>
                        }
                        else
                        {
                        <div class="img-container text-left">
                            <img class="img-fluid mission-img-list" src="@Url.Content(mission.ImageSrc)" />
                        </div>
                        }
                        <p class="mission-title body1-bold pr-md-5 pr-2">@mission.Title</p>
                        <p class="body2 pr-md-5 pr-2">от Клуб "@mission.Club.Name"</p>
                    </a>
                </div>
            </div>
        }
    </div>
}

