@model string  
@{ 
}
    <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-md-8 col-md-offset-2 pb-4 pt-4 text-center justify-content-center">
            <div class="heading2 col-12 mb-2 mt-2 pb-2 pt-2 text-center">Направи собствена мисия и трупай точки</div>
            <div class="body2 col-12 mb-4 mt-2 pb-2 pt-2 justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in egestas mi, eget ultricies ligula. Praesent eu blandit odio, eget vehicula sem.</div>
            <button class="btn btn-heroes btn-lg my-2 my-sm-0 mb-4 mt-4" type="button" data-toggle="modal" data-target="#participateModal">Участвай</button>
        </div>
    </div>
