@model IEnumerable<HeroesCup.Web.Models.MissionIdeaViewModel>
@{
    var missionIdeas = Model.ToList().OrderByDescending(m => m.MissionIdea.IsPublished);
}

@if (missionIdeas.Count() > 0)
{
    <div class="row">
        @foreach (var idea in missionIdeas)
        {
            <div class="col-sm-6 col-md-4 mt-4 pt-4">
                <div class="mission-body">
                    <a href="@idea.MissionIdea.TimeheroesUrl" target="_blank">
                        <div class="img-container">
                            <img class="img-fluid mission-img-list" src="@Url.Content(idea.ImageSrc)" />
                        </div>
                        <p class="mission-title body1-bold">@idea.MissionIdea.Title</p>
                        <p class="body2">от Timeheroes</p>
                    </a>
                </div>
            </div>
        }
    </div>
}

