@model MissionsPage
@inject IApi Api

@{
    ViewBag.Title = Model.Title;
    ViewBag.TypeId = Model.TypeId;

}


<div class="main">
    <div class="container">
        <div class="tabbable mt-md-5 pt-md-5">
            <ul class="nav nav-tabs mt-5 pt-5" role="tablist">
                <li class="nav-item mr-3">
                    <a class="nav-link active tab-title pl-0 pr-0  ml-0 mr-3 heading3" data-toggle="tab" href="#missions" role="tab">Ученически мисии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tab-title pl-0 pr-0  ml-3 mr-3 heading3" data-toggle="tab" href="#missionideas" role="tab">Грабни идея</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="missions">
                    <div class="row mt-4 pt-4">
                        <div class="col-md-8 col-sm-12">
                            <div class="col-12 pl-0 body2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in egestas mi, eget ultricies ligula. Praesent eu blandit odio, eget vehicula sem.</div>
                        </div>
                        <div class="coml-md-4 col-sm-12">

                        </div>
                    </div>
                    <div id="missions-partial">
                        <partial name="~/Views/Missions/_MissionsList.cshtml" for="@Model.Missions" />
                    </div>

                    <div class="row justify-content-center mt-4 mb-5 pb-4">
                        <button id="load-missions" class="btn btn-default btn-heroes">Покажи още</button>
                    </div>
                </div>

                <div role="tabpanel" id="missionideas" class="tab-pane missions-block">
                    <div class="row mt-4 pt-4">
                        <div class="col-md-8 col-sm-12">
                            <div class="col-12 pl-0 body2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in egestas mi, eget ultricies ligula. Praesent eu blandit odio, eget vehicula sem.</div>
                        </div>
                        <div class="coml-md-4 col-sm-12">

                        </div>
                    </div>
                    <div id="missionideas-partial">
                        <partial name="~/Views/Missions/_MissionIdeasList.cshtml" for="@Model.MissionIdeas" />
                    </div>
                    <div id="more-missionideas"></div>
                    <div class="row justify-content-center mt-4 mb-5 pb-4">
                        <button id="load-missionideas" class="btn btn-default btn-heroes">Покажи още</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <partial name="~/Views/Shared/Partial/_Challenge.cshtml" for="@Model.Title" />
    </div>
</div>

@section script{
    <script>
        $(document).ready(function () {
            $("#load-missions").click(function () {
                $("#missions-partial").load("missions/load-missions", { loadRequest: true });
            });

            $("#load-missionideas").click(function () {
                $("#missionideas-partial").load("missions/load-missionideas", { loadRequest: true });
            });
        });
    </script>
}
