# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: 
  push:
    branches: [ master ] 
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
  # dotnet-format:
  #   runs-on: ubuntu-latest
  #   steps:      
  #     - name: Install dotnet-format
  #       run: |
  #         echo "::set-env name=PATH::${PATH}:${HOME}/.dotnet/tools"
  #         dotnet tool install -g dotnet-format
  #     - name: Checkout repo
  #       uses: actions/checkout@v2
  #       with:
  #         ref: ${{ github.head_ref }}

  #     - name: Run dotnet format
  #       id: format
  #       uses: xt0rted/dotnet-format@v1
  #       with:
  #         repo-token: ${{ secrets.GITHUB_TOKEN }}
  #         action: "fix"
  #         only-changed-files: true

  #     - name: Commit files
  #       if: steps.format.outputs.has-changes == 'true'
  #       run: |
  #         git config --local user.name "heroescup-ci[bot]"
  #         git config --local user.email "heroescup-ci[bot]@users.noreply.github.com"
  #         git commit -a -m 'Automated dotnet-format update

      #     Co-authored-by: ${{ github.event.pull_request.user.login }} <${{ github.event.pull_request.user.id }}+${{ github.event.pull_request.user.login }}@users.noreply.github.com>'

      # - name: Push changes
      #   if: steps.format.outputs.has-changes == 'true'
      #   uses: ad-m/github-push-action@v0.5.0
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     branch: ${{ github.head_ref }}  